<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <h1> <%= link_to '311 Service Requests', root_path%> </h1>
  <p>
  </header>
    <%= yield %>
        <footer>
      <p> Copywrong 2018 </p>
    </footer>
  </body>
</html>
