<h1>Requests</h1>

<%= paginate @requests%>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Request</th>
      <th scope="col">Neighbourhood</th>
    </tr>
  </thead>
    <tbody>
    <% @requests.each do |request|%>
    <tr class="table-active">
      <th scope="row"><%= link_to request.date, request %></th>
      <td><%= request.service_request.name %></td>
      <td><%= request.neighbourhood.name%></td>
    </tr>
    <%end%>
</table>


<%= paginate @requests%>
